/****Navbar******/
.header {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    background-color: #7c4dff;
    color: #fff;
}
a.navbar-brand {
    color: #fff;
}
.nav_searchbar {
    flex: 4;
}
.nav_logintn{
	flex: 1;
    display: flex;
    justify-content: center;
}
.nav_cartimg {
    flex: 1;
    display: flex;
    justify-content: center;
}
.cart_txt {
    color: #fff;
    margin-left: 8px;
}
.logibtns {
    width: 100px;
    background-color: #fff;
    border: 1px solid #fff;
}
/****Navbar******/